/* :root, */
/* Default shoelace theme will be subscribed to the custom-001 theme if you set :root. 
More about shoelace themes: https://shoelace.style/themes */

:host,
.sl-theme-custom-001 {
--custom-color-primary-50: rgb(249 249 250);
--custom-color-primary-100: rgb(234 237 238);
--custom-color-primary-200: rgb(218 223 226);
--custom-color-primary-300: rgb(201 208 212);
--custom-color-primary-400: rgb(177 187 193);
--custom-color-primary-500: rgb(148 162 170);
--custom-color-primary-600: rgb(117 135 145);
--custom-color-primary-700: rgb(90 111 124);
--custom-color-primary-800: rgb(68 92 106);
--custom-color-primary-900: rgb(38 67 83);
--custom-color-primary-950: rgb(14 41 57);
--custom-color-primary: rgb(14 41 57);

--custom-color-secondary-50: rgb(254 249 239);
--custom-color-secondary-100: rgb(252 234 203);
--custom-color-secondary-200: rgb(249 218 162);
--custom-color-secondary-300: rgb(246 200 114);
--custom-color-secondary-400: rgb(239 174 53);
--custom-color-secondary-500: rgb(206 150 46);
--custom-color-secondary-600: rgb(170 124 38);
--custom-color-secondary-700: rgb(139 101 31);
--custom-color-secondary-800: rgb(115 84 26);
--custom-color-secondary-900: rgb(82 59 18);
--custom-color-secondary-950: rgb(50 37 11);

--custom-color-tertiary-50: rgb(244 251 251);
--custom-color-tertiary-100: rgb(217 241 241);
--custom-color-tertiary-200: rgb(187 230 230);
--custom-color-tertiary-300: rgb(154 218 217);
--custom-color-tertiary-400: rgb(107 201 200);
--custom-color-tertiary-500: rgb(42 177 175);
--custom-color-tertiary-600: rgb(1 147 145);
--custom-color-tertiary-700: rgb(1 121 119);
--custom-color-tertiary-800: rgb(1 100 99);
--custom-color-tertiary-900: rgb(0 71 70);
--custom-color-tertiary-950: rgb(0 44 44);


/* Check out the card's button to see the custom spacing variantion btwn themes */
--sl-spacing-large: 1.5rem;
--sl-spacing-xlarge: 3rem;

}